html {
	color: #F8F8F8;
	font-family: "Source Sans Pro";

	body {
		margin: 0;
		ul {
			display: inline-block;
			li {
				display: inline-block;
				padding-right: 15px;
				a {
					text-decoration: none;
					&:visited {
						color: black;
					}
					&:hover {
						color: #E049B5;
						transition: color 0.2s linear;
					}	
				}
				
			}
		}
	}

	.section-content {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 19% 10%;

		&.landing-content {
			background-image: url('https://farm5.staticflickr.com/4123/4896964430_4a640501f5_b.jpg');
			background-size: cover;
			font-size: 30pt;
		}
		&.work {
			color: black;
		}
		&.contact {
			background-color: #E8E08C;
		}
	}

	.header-nav {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		position: fixed;
		margin-top: 1em;
		width: 100%;

		a {
			position: relative;
			left: 3em;
			color: #F8F8F8;
			text-decoration: none;
		}
		.nav-links {
			float: right;
			position: relative;
			right: 5em;
		}
	}

	.contact {
		padding: 6% 10%;
		h1 {
			& strong {
				color: #E049B5;
			}
		}
		form {
			font-family: "Hilde Sharp";
			font-size: 14pt;
			color: #43221D;
			box-shadow: -3px 2px 6px;
			padding: 30px;
			input {
				border-top: none;
				border-left: none;
				border-right: none;
				border-color: #6B4D47;
				background: none;
				&:focus {
					outline: none;
				}
			}
			.form-button {
				&:hover {
					background: #332B2A;
					transition: background 0.2s linear;
					color: #CC9D99;
				}
			}
		}
	}

	.footer {
		color: black;
		.github:before {
			font-family: "FontAwesome";
			before: '/f092';
		}
	}
}

