html {
	color: #F8F8F8;

	body {
	}

	.section-content {
		height: 100%;
		display: flex;
		flex-direction: column;

		&.landing-content {
			background-image: url('https://farm5.staticflickr.com/4123/4896964430_4a640501f5_b.jpg');
			background-size: cover;
		}
	}

	.header-nav {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		position: fixed;
		margin-top: 1em;
		width: 100%;

		a {
			text-decoration: none;
			position: relative;
			left: 3em;
		}
		.nav-links {
			display: inline-block;
			float: right;
			position: relative;
			right: 3em;
			li {
				display: inline-block;
			}
		}
	}

	.main {
		text-align: center;
		color: black;
		padding: 19% 10%;
	}

	.work {
		color: black;
	}
}

